.thumbnail > img {
  width: 242px;
  height: 200px;
}

h3 {
  text-align: center;
}

.label {
  vertical-align: -webkit-baseline-middle !important;
}

.glyphicon {
  vertical-align: -webkit-baseline-middle;
  margin-left: 10px;
  color: red;
}
