.header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.intro {
  padding: 25px 0;
  font-size: large;
  text-align: center;
}

.form-container {
  margin-top: 10px;
}

.search-bar {
  margin-right: 10px;
}

.search-bar > input[type="text"] {
  width: 250px;
}
